@model IEnumerable<Cancer_Hospital.Models.ChatView>

@{
    ViewData["Title"] = "ChatDisplay";
}
<link rel="stylesheet" href="~/css/ChatDisplay.css">
<script src="https://kit.fontawesome.com/21a93b28c4.js" crossorigin="anonymous"></script>
<div>
    <header id="header">
        <h3 class="logo">Cancer hospital</h3>
        <nav class="navigation">
            <a href="#">Home</a>
            <div class="dropdown">
                <button class="dropbtn">
                    Dr. @ViewBag.FirstName
                </button>
                <div class="dropdown-content">
                    <a href="/Home/HomeAll">Logout</a>
                </div>
            </div>
            @*<button class="btn-login" onclick="window.location.href='../DoctorLogin/Login' ">Login</button>*@
        </nav>
    </header>
</div>

<main>
    <div class="cards">
        <div class="card1">
            @foreach (var item in Model)
            {
                @if (item.PatientText != "test")
                {
                    <div class="receiveText">
                        <div class="name">
                            <img src="..//Images/userIcon.png">
                            <p>@Html.DisplayFor(modelItem => item.PatientName)</p>
                        </div>
                        <div class="text">
                            <p>@Html.DisplayFor(modelItem => item.PatientText)</p>
                        </div>
                    </div>

                }

                <div class="clear">.</div>

                @if (item.DoctorText != "test")
                {
                    <div class="senderText">
                        <div class="name">
                            <img src="..//Images/userIcon.png">
                            <p>@Html.DisplayFor(modelItem => item.DoctorName)</p>
                        </div>
                        <div class="text">
                            <p>@Html.DisplayFor(modelItem => item.DoctorText)</p>
                        </div>


                    </div>

                }
                <div class="clear">.</div>

            }
        </div>

    </div>

    <form class="formm" asp-action="ChatSend" asp-controller="Doctor">
        <input name="patientID" type="hidden" value="@ViewBag.Pid">
        <input name="doctorID" type="hidden" value="@ViewBag.Did">

        <input name="doctortext" type="text" class="text" placeholder="your comment..."/>
        <button type="submit" class="send">Send</button>
    </form>
</main>
