@model IEnumerable<Cancer_Hospital.Models.PatientDataForDoctor>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/HomeDoctor.css">

<div>
    <header id="header">
        <h3 class="logo">Cancer hospital</h3>
        <nav class="navigation">
            <a href="#">Home</a>
            <div class="dropdown">
                <button class="dropbtn"> 
                    Dr. @ViewBag.FirstName
                </button>
                <div class="dropdown-content">
                    <a href="/Home/HomeAll">Logout</a>
                </div>
            </div>
            @*<button class="btn-login" onclick="window.location.href='../DoctorLogin/Login' ">Login</button>*@
        </nav>
    </header>
</div>


@*<div class="cards">
    <div class="card">
        <div>
            <img src="/Images/Doctor-icon.jpg" width="70px" height="70px" style="margin-left:40px" />
            <p>Doctors Services</p>
        </div>
    </div>
    <div class="card">
        <div>
            <img src="/Images/medical-icon.png" width="70px" height="70px" style="margin-left:40px" />
            <p>Medical Services</p>
        </div>
    </div>
    <div class="card">
        <div>
            <img src="/Images/behavioral-icon.jpg" width="70px" height="70px" style="margin-left:40px" />
            <p>Behavioral Services</p>
        </div>
    </div>
    <div class="clear"></div>
</div>*@


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CancerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discrption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CancerStage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAboratoryResults)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancerType)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discrption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CancerStage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentPlan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LAboratoryResults)
                </td>
            <td>
                    @Html.ActionLink("Display status", "Display", new { id = item.Id }) |
                @Html.ActionLink("Add status of patient", "Update", new { Id = item.Id }) |
                    @Html.ActionLink("Edit the status", "Update", new { Id = item.Id }) |
                    @Html.ActionLink("Contact", "ChatDisplay", new { PId = item.Id, DId= item.DoctorID, Fname =item.FirstName})
                 
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="marginTop">.</div>
    @foreach (var item in Model)
    {
        <div class="personl-card">
            <div class="information">
                <div class="image">
                    @*<img src="..//Images/userIcon.png">*@
                <img src="~/images/usericon.png" />
                </div>
                <div class="main-info">
                    <h1 class="name">@Html.DisplayFor(modelItem => item.Fname) @Html.DisplayFor(modelItem => item.Lname)</h1>
                <h2 class="cancer-type">Description</h2>
                    <p class="description">
                    @Html.DisplayFor(modelItem => item.Discrption)
                @*Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur recusandae
                nesciunt libero hic optio sit omnis deserunt nesciunt libero hic optio sit omnis deseruntnesciunt
                libero hic optio sit omnis deserunt*@
                </p>
                </div>
                <div class="info">
                <p class="id">Patient Id: @Html.DisplayFor(modelItem => item.Id) </p>
                <p class="fname">First Name: @Html.DisplayFor(modelItem => item.Fname) </p>
                <p class="lname">Last Name: @Html.DisplayFor(modelItem => item.Lname) </p>
                <p class="cancer-type">Cancer Type: @Html.DisplayFor(modelItem => item.CancerType) </p>
                <p class="docid">Docter Id: @Html.DisplayFor(modelItem => item.DoctorID)</p>
                <p class="cancer-stage">Cancer stage: @Html.DisplayFor(modelItem => item.CancerStage)</p>
                <p class="treatmentplan">Treatment Plan: @Html.DisplayFor(modelItem => item.TreatmentPlan)</p>
                <p class="labroatory-res">labroatory result: @Html.DisplayFor(modelItem => item.LAboratoryResults)</p>
                </div>
            </div>
            <hr>
            <div class="card-footer">

                <div class="link">
                <img src="~/images/add.png" alt="">
                <a href="#">@Html.ActionLink("Add", "Update", new { Id = item.Id ,Did = item.DoctorID , Fname = item.FirstName })</a>
                </div>

                <div class="link">
                <img src="~/images/edit.png" alt="">
                    <a href="#">@Html.ActionLink("Edit", "Update", new { Id = item.Id , Did = item.DoctorID , Fname = item.FirstName})</a>
                </div>

                <div class="link">
                <img src="~/images/contact-mail.png" alt="">
                    <a href="#">@Html.ActionLink("Contact", "ChatDisplay", new { PId = item.Id, DId= item.DoctorID, Fname =item.FirstName})</a>
                </div>

            </div>
        </div>
    }

